body {
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
     background: green;                                
    display: grid;
    place-items: center;
  }

  h1 {
    text-align: center;
    margin-top: 0;
  }

  form {
    display: flex;
    flex-direction: column;
  }

  label {
    font-size: 1.25rem;
    width: 100%;
  }

  input {
    margin: 1em 0;
    padding: 0.5em 0.75em;
    width: 100%;
  }

  select {
    margin: 1em 0;
    width: 100%;
    padding: 0.5em 0.75em;
  }

  button {
    margin-top: 3rem;
  }

  .input-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card {
    width: min(500px, 90%);
    margin: 0 auto;
    background: white;
    border-radius: 10px;
    padding: 1.5em 2em;
  }

  .calculate {
    padding: 0.75em 0;
    background: rgb(207, 8, 68);
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    font-weight: 700;
    border: none;
  }

  .calculate:hover {
    opacity: 0.7;
  }

  .reset {
    padding: 0.75em 0;
    background: rgb(100, 237, 157);
    color: white;
    text-transform: capitalize;
    font-weight: 700;
    border: none;
  }

  @media (max-width: 450px) {
    .input-item {
      flex-direction: column;
    }
  }